<mat-dialog-content>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex="50%">
            <img src="assets/imgs/projects-gifs/NoteTaker.gif">
        </div>
        <div fxFlex="50%">
            <button class="floatRight" mat-button [mat-dialog-close]="true">X</button>

            <p class="mat-headline">PROJECT</p>
            <p class="mat-display-1" id="ProjectName">Note Taker</p>
            <div class="mat-subheading-2" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
                fxLayoutGap="0.5%" fxLayoutAlign="left">
                <span>C#</span>
                <span>.NET</span>
            </div>
            <br>
            <p class="mat-headline">ABOUT</p>
            <br>
            <p class="mat-body-1">For this project I used C# to make an application for Windows 10 that resembles to the
                Windows 7 gadgets, which allow the users to take notes on their screen, it stores them and keeps them
                organized in a text file, with the feature of notifiying how many notes the app has stored</p>
            <br>
            <!-- Code is unavaillabe because private, and Demo is unavaillabe because it's a desktop app-->
            <button mat-button>
                <fa-icon [icon]="faEye"></fa-icon> Demo
            </button>
            <button mat-button>
                <fa-icon [icon]="faCode"></fa-icon> Code
            </button>
        </div>
    </div>
</mat-dialog-content>