<!--<a href="javascript:;" (click)="gotoTop()">AA</a>
(click)="goTo('home')"-->
<mat-toolbar fxLayoutAlign="space-between center" [style.background-color]="ChangeBackgroundColor ? 'var(--background-primay-color)': 'transparent'">
  <div>
    <ul>
      <li>
        <a href="/" class="brand">AA</a>
      </li>
    </ul>
  </div>
  <div>
    <ul>
        <!--<li fxHide fxShow.gt-md>
          <a href="javascript:;" (click)="goTo('home')" [class.active]="active=='h'">HOME /></a>
        </li>
        <li fxHide fxShow.gt-md>
          <a href="javascript:;" (click)="goTo('about')" [class.active]="active=='a'">ABOUT /></a>
        </li>
        -->
        <li fxHide fxShow.gt-sm>
          <a href="javascript:;" (click)="goTo('projects')" [class.active]="active=='p'">PORTFOLIO /></a>
        </li>
        <li fxHide fxShow.gt-sm>
          <a href="javascript:;" (click)="goTo('contact')" [class.active]="active=='c'">CONTACT /></a>
        </li>
        <li fxHide fxShow.gt-sm>
          <a href="javascript:;" (click)="LightAndDarkMODE()" matTooltip="{{themeToChange}}"><fa-icon [icon]="faTint"></fa-icon></a>
        </li>
        <!--
        <li fxHide fxShow.gt-md>
          href="javascript:; (this is used so a click does only open the languages menu-->
          <!--
          <a href="javascript:;" mat-button [matMenuTriggerFor]="menu" style="font-weight: normal;">EN/FR</a>
        </li>
        <li fxHide fxShow.gt-md>
          <mat-slide-toggle mat-button color="accent">
          </mat-slide-toggle>
        </li>
        -->
        <li fxShow fxHide.gt-sm>
          <a href="javascript:;" (click)="openNav()"><fa-icon [icon]="faBars"></fa-icon></a>
  
          <div id="myNav" class="overlay" *ngIf="displayMobileNav">
            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
            <div class="overlay-content">
              <!--<a href="javascript:;" (click)="goTo('home')">HOME /></a>
              <a href="javascript:;" (click)="goTo('about')">ABOUT /></a>
              -->
              <a href="javascript:;" (click)="goTo('projects')">PORTFOLIO /></a>
              <a href="javascript:;" (click)="goTo('contact')">CONTACT /></a>
              <a href="javascript:;" (click)="toggleConsole()">CONSOLE /></a>
              <a href="javascript:;" (click)="toggleChatbot()">CHATBOT /></a>
              <a href="javascript:;"><mat-slide-toggle (click)="LightAndDarkMODE()" [checked]="checked"></mat-slide-toggle></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
</mat-toolbar>