<!--<a href="javascript:;" (click)="gotoTop()">AA</a>
(click)="goTo('home')"-->
<mat-toolbar fxLayoutAlign="space-between center" [style.background-color]="ChangeBackgroundColor ? 'var(--background-primay-color)': 'transparent'">
  <div>
    <ul>
      <li>
        <a href="/" class="brand">AA</a>
      </li>
    </ul>
  </div>
  <div>
    <ul>
        <!--<li fxHide fxShow.gt-md>
          <a href="javascript:;" (click)="goTo('home')" [class.active]="active=='h'">HOME /></a>
        </li>
        <li fxHide fxShow.gt-md>
          <a href="javascript:;" (click)="goTo('about')" [class.active]="active=='a'">ABOUT /></a>
        </li>
        -->
        <li fxHide fxShow.gt-sm *ngIf="!router.url.includes('moodboard')">
          <a (click)="goTo('home')" [class.active]="active=='h'" class="animate">{{lang.nav.home}} /></a>
        </li>
        <li fxHide fxShow.gt-sm *ngIf="!router.url.includes('moodboard')">
          <a (click)="goTo('projects')" [class.active]="active=='p'" class="animate">{{lang.nav.projects}} /></a>
        </li>
        <li fxHide fxShow.gt-sm *ngIf="!router.url.includes('moodboard')">
          <a (click)="goTo('about')" [class.active]="active=='a'" class="animate">{{lang.nav.about}} /></a>
        </li>
        <li fxHide fxShow.gt-sm *ngIf="!router.url.includes('moodboard')">
          <a (click)="goTo('contact')" [class.active]="active=='c'" class="animate">contact /></a>
        </li>
        <li fxHide fxShow.gt-sm class="extra-padding">
          <a rel="noopener" href="https://blog.amineamellouk.com" target="_blank">blog</a>
        </li>
        <li fxHide fxShow.gt-sm>
          <a routerLink="./resume">{{lang.nav.resume}}</a>
        </li>
        <li fxHide fxShow.gt-sm>
          <a routerLink="./moodboard">Moodboard</a>
        </li>
        <li fxHide fxShow.gt-sm>
          <a (click)="toggleLanguage()">{{languageTranslate}}</a>
        </li>
        <!--
        <li fxHide fxShow.gt-sm>
          <a href="javascript:;" (click)="toggleLanguage()">{{languageTranslate}} /></a>
        </li>-->
        <li fxHide fxShow.gt-sm>
          <a (click)="LightAndDarkMODE()" matTooltip="{{themeToChange}}" *ngIf="checked; else otherTheme"><fa-icon [icon]="faSun"></fa-icon></a>
          <ng-template #otherTheme>
            <a (click)="LightAndDarkMODE()" matTooltip="{{themeToChange}}"><fa-icon [icon]="faCloudMoon"></fa-icon></a>
          </ng-template>
        </li>
        <!--
        <li fxHide fxShow.gt-md>
          href="javascript:; (this is used so a click does only open the languages menu-->
          <!--
          <a href="javascript:;" mat-button [matMenuTriggerFor]="menu" style="font-weight: normal;">EN/FR</a>
        </li>
        <li fxHide fxShow.gt-md>
          <mat-slide-toggle mat-button color="accent">
          </mat-slide-toggle>
        </li>
        -->
        <li fxShow fxHide.gt-sm>
          <a (click)="openNav()"><fa-icon [icon]="faBars"></fa-icon></a>
  
          <div id="myNav" class="overlay" *ngIf="displayMobileNav">
            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
            <div>
              <a (click)="LightAndDarkMODE()" matTooltip="{{themeToChange}}" *ngIf="checked; else otherTheme"><fa-icon [icon]="faSun" class="changetheme"></fa-icon></a>
              <ng-template #otherTheme>
                <a (click)="LightAndDarkMODE()" matTooltip="{{themeToChange}}" class="changetheme"><fa-icon [icon]="faCloudMoon"></fa-icon></a>
              </ng-template>
            </div>
            <div class="overlay-content">
              <!--<a href="javascript:;" (click)="goTo('home')">HOME /></a>
              <a href="javascript:;" (click)="goTo('about')">ABOUT /></a>
              -->
              <!-- <a (click)="goTo('projects')">{{lang.nav.projects}} /></a> -->
              <!-- <a (click)="goTo('contact')">contact   /></a> -->
              <a rel="noopener" href="https://blog.amineamellouk.com" target="_blank">blog</a>
              <a rel="noopener" href="https://github.com/AmineAML" target="_blank" matTooltip="GitHub">GitHub</a>
              <a rel="noopener" href="https://www.linkedin.com/in/amine-amellouk" target="_blank" matTooltip="LinkedIn">LinkedIn</a>
              <a rel="noopener" href="https://stackoverflow.com/users/10453610/amineze" target="_blank" matTooltip="Stack Overflow">Stack<br/> Overflow</a>
              <a routerLink="./resume">{{lang.nav.resume}}</a>
              <a routerLink="./moodboard">Moodboard</a>
              <a (click)="toggleConsole()">console</a>
              <a (click)="toggleChatbot()">chatbot</a>
              <a (click)="toggleLanguage()">{{languageTranslate}}</a>
              <!-- <a ><mat-slide-toggle (click)="LightAndDarkMODE()" [checked]="!checked"></mat-slide-toggle></a> -->
            </div>
          </div>
        </li>
      </ul>
    </div>
</mat-toolbar>