.pnf {
    width: 100%;
    //display: table;
    margin: 0;
    max-width: none;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.fopnf {
    width: 100%;
    display: table;
    margin: 0;
    max-width: none;
    height: 10vh;
}