.pnf {
    width: 100%;
    margin: 0;
    max-width: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fopnf {
    width: 100%;
    margin: 0;
    max-width: none;
    //height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}