#about {
    padding-left: 40px;
    padding-right: 40px;
    color: #D8D2D2;
    div {
        color: #BEBAB9;
    }
    div {
        div {
            ul {
                li {
                    display: flex;
                }
            }
        }
    }
}