<!--This part of the resume not the portfoilio, that's why keep a "simple" about me here-->
<div id="about" style="color: #D8D2D2;" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
    fxLayoutGap="0.5%" fxLayoutAlign="center" data-aos="fade-right">

    <div class="mat-headline" style="color: #BEBAB9;" fxFlex="40%">Let me tell about myself
    </div>

    <div class="mat-subheading-2" fxFlex="40%" data-aos="fade-right" data-aos-delay="300">
        <p>Hello, I'm Amine, a software enginner from <strong> Rabat, Morocco </strong> who enjoys building things, I develop web
            apps
            and mobile apps</p>

        <p>I'm currently majoring a mobile apps enginner from IT Learning Campus of University of Hassan I</p>

        <p>Here are a few technologies and tools I've been working with recently:</p>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
            fxLayoutAlign="center">
            <ul fxFlex="30%" data-aos="fade-down" data-aos-delay="350">
                <!--<li>TypeScript</li>-->
                <li>Angular</li>
                <li>Node.js</li>
                <li>.NET</li>
                <!--<li>SCSS</li>-->
                <li>Firebase</li>
                <li>SQL</li>
            </ul>
            <ul fxFlex="30%" data-aos="fade-down" data-aos-delay="400">
                <li>Ionic</li>
                <li>React Native</li>
            </ul>
            <ul fxFlex="30%" data-aos="fade-down" data-aos-delay="450">
                <li>Git + Github</li>
                <li>Ora.pm</li>
            </ul>
        </div>
    </div>
</div>