#about {
    //padding: 200px;
    padding-left: 40px;
    padding-right: 40px;
    #animatioNameTyping {
        color: #917164;
        animation: typingAnim 1s infinite 0s linear;
    }
    ul {
        li {
            display: flex;
            a {
                text-decoration: none;
            }
        }
    }
}
.example-card {
    max-width: 400px;
  }
@keyframes typingAnim {
    0% {
        transform: rotate(0);
        opacity: 1;
    }
    50% {
        transform: rotate(0);
        opacity: 0;
    }
}