:host {
    div {
        position: absolute;
        top: 20%;
        left:0;
        right:0;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        ul {
            li {
                padding-bottom: 7px;
                a {
                    color: var(--chat-icon-color);
                    text-decoration: none;
                    font-size: x-large;
                    font-weight: 500;
                    line-height: 1.1;
                }
            }
        }
    }
}