<div>
    <ul>
        <li>
            <a routerLink="./pfe_licence_sciences_economiques" target="_blank" rel="noopener">L'impact de l'investissement (public et privé) sur la croissance économique</a>
        </li>
        <li>
            <a routerLink="./pfe_technicien_specialise_en_developpement_informatique" target="_blank" rel="noopener">Conception et réalisation d'une application de gestion de notes</a>
        </li>
        <li>
            <a routerLink="./pfe_licence_en_ingenierie_des_applications_mobiles" target="_blank" rel="noopener">Étude et réalisation d'une plateforme de guide touristique</a>
        </li>
    </ul>
</div>