
    <app-header [active]="componentInViewport" (toggleCmd)="toggleCmd($event)" (toggleChabot)="toggleChatbot($event)"></app-header>
    <!--Better use ngClass-->
    <!--Mozilla firefox specific-->
    <app-home *ngIf="heightDivChange" id="home" class="fullScreenSectionsMozilla"></app-home>
    <!--<app-home *ngIf="heightDivChange" id="homeShowOnlySmallDevices" class="fullScreenSectionsMozilla" fxShow fxHide.gt-md></app-home>-->
    <!--Other browser specific-->
    <app-home *ngIf="!heightDivChange" id="home" class="fullScreenSections"></app-home>
    <!--<app-home *ngIf="!heightDivChange" id="homeShowOnlySmallDevices" class="fullScreenSections" fxShow fxHide.gt-md></app-home>-->
    <app-projects id="projects" class="fullScreenSections" fxLayoutAlign="space-around center"></app-projects>
    <app-about id="about" class="fullScreenSections" fxLayoutAlign="center center"></app-about>
    <app-contact id="contact" class="fullScreenSections" fxLayoutAlign="center center" fxFlexFill></app-contact>
    <app-footer></app-footer>
    <app-scroll-top-indicator></app-scroll-top-indicator>
    <app-console-interface [openCmd]="toggleCmdOpen"></app-console-interface>
    <app-chat-dialog [openChatbot]="toggleChatbotOpen"></app-chat-dialog>

    <div class="cool-tools" fxShow fxHide.lt-md>
        <!--<a href="javascript:;" (mouseenter)="showText = true" (mouseleave)="showText = false"><fa-icon [icon]="faRobot" size="lg"></fa-icon><span *ngIf="showText" [@slideInOut]>Chatbot</span></a>
        -->
        <!--1st click it does work and close and another click it doesn't work-->
        <a href="javascript:;" (click)="toggleChatbotOpen = true"><fa-icon [icon]="faRobot" size="lg"></fa-icon><span>Chatbot</span></a>
        <a href="javascript:;" (click)="toggleCmd(true)"><fa-icon [icon]="faTerminal" size="lg"></fa-icon><span>Console</span></a>
    </div>

    <!--
        <app-home *ngIf="heightDivChange" id="home" class="fullScreenSectionsMozilla" fxHide fxShow.gt-md></app-home>
        <app-home *ngIf="!heightDivChange" id="home" class="fullScreenSections" fxHide fxShow.gt-md></app-home>
    -->