:host {
    div {
        width: 100vw;
        height: 100vh;
        //background: transparent url(../../../assets/imgs/windows-error-meme.png) repeat;
        div {
            width: 100%;
            margin: 0;
            max-width: none;
            display: flex;
            justify-content: center;
            align-items: center;
            color: whitesmoke;
            flex-direction: row;
            section {
                height: 180px;
                justify-content: flex-end;
                pre {
                    margin: 0;
                }
            }
            section {
                height: 180px;
                justify-content: flex-end;
                section {
                    display: flex;
                    flex-direction: column;
                    button:nth-child(1) {
                        margin-bottom: 7px;
                    }
                }
            }
        }
    }
}