<div>
    <div>
        <section>
            <pre>
An error has occured
And the app is temporarly unavailable
                    
Sorry for the incovenience
Hopefully it should be back available ASAP
                    
Meanwhile, try again to access the page
Or
            </pre>
        </section>
        <section>
            <section>
                <button mat-flat-button (click)="homePage()">Return back to the home page</button>
                <button mat-flat-button (click)="previousPage()">Return the the previous page</button>
            </section>
        </section>
    </div>
    <app-footer></app-footer>
</div>