<!--This part of the resume not the portfoilio, that's why keep a "simple" about me here-->
<div id="about" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
    fxLayoutGap="0.5%" fxLayoutAlign="center" data-aos="fade-right">

    <div fxFlex="40%" fxLayoutAlign="center">
        <span class="mat-display-1">{{lang.welcome.about.title}}</span>
    </div>
    <br />

    <div class="mat-subheading-2" fxFlex="50%" data-aos="fade-right" data-aos-delay="300">
        <p>{{lang.welcome.about.partOne1stPart}} <strong> {{lang.welcome.about.partOne2ndPart}} </strong> {{lang.welcome.about.partOne3rdPart}} <strong> {{lang.welcome.about.partOne4thPart}} </strong> {{lang.welcome.about.partOne5thPart}} <strong> {{lang.welcome.about.partOne6thPart}} </strong> {{lang.welcome.about.partOne7thPart}} <strong> {{lang.welcome.about.partOne8thPart}} </strong> {{lang.welcome.about.partOne9thPart}} <strong> {{lang.welcome.about.partOne10thPart}} </strong> {{lang.welcome.about.partOne11thPart}} <strong> {{lang.welcome.about.partOne12thPart}} </strong> {{lang.welcome.about.partOne13thPart}} <strong> {{lang.welcome.about.partOne14thPart}} </strong></p>

        <p>{{lang.welcome.about.partTwo1stPart}} <strong> {{lang.welcome.about.partTwo2ndPart}} </strong> {{lang.welcome.about.partTwo3rdPart}} <strong> {{lang.welcome.about.partTwo4thPart}} </strong> {{lang.welcome.about.partTwo5thPart}} <strong> {{lang.welcome.about.partTwo6thPart}} </strong> {{lang.welcome.about.partTwo7thPart}} <strong> {{lang.welcome.about.partTwo8thPart}} </strong> {{lang.welcome.about.partTwo9thPart}}</p>

        <p>{{lang.welcome.about.partThree}}</p>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-sm="2rem">
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-sm="2rem">
                <ul class="container" fxLayout="column" fxLayoutGap.gt-sm="2rem" data-aos="fade-right" data-aos-delay="350">
                    <li>HTML5 & CSS3</li>
                    <li>SCSS</li>
                </ul>
                <ul class="container" fxLayout="column" fxLayoutGap.gt-sm="2rem" data-aos="fade-right" data-aos-delay="400">
                    <li>Angular</li>
                    <li>Node.js</li>
                </ul>
            </div>
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-sm="2rem" data-aos="fade-right" data-aos-delay="450">
                <ul class="container" fxLayout="column" fxLayoutGap.gt-sm="2rem">
                    <li>Docker</li>
                    <li>MongoDB & Firebase</li>
                </ul>
                <ul class="container" fxLayout="column" fxLayoutGap.gt-sm="2rem" data-aos="fade-right" data-aos-delay="500">
                    <li>Git</li>
                    <li>TypeScript</li>
                </ul>
            </div>
        </div>
    </div>
</div>