div{
    //transform: translateY(50%);
    //padding: 200px;
    margin-top: 17%;
    margin-bottom: auto;
    padding-left: 20px;

    #animatioNameTyping {
        animation: typingAnim 1s infinite 0s linear;
    }
    p {
        font-family: 'Montserrat', sans-serif;
    }
    ul {
        li {
            display: inline;
            padding-right: 1rem;
            a {
                text-decoration: none;
                color: #917164;
            }
        }
    }

    .cards {
        display: flex;
        //position: fixed;
        bottom: 2%;
    }
    .card {
        background: palegreen;
        border-radius: 1rem;
        box-shadow: 4px 4px 12px 2px rgba($color: #000000, $alpha: 0.7);
        padding: 4rem;
    }
}

@keyframes typingAnim {
    0% {
        transform: rotate(0);
        opacity: 1;
    }
    50% {
        transform: rotate(0);
        opacity: 0;
    }
}