div{
    //transform: translateY(50%);
    //padding: 200px;
    margin-top: 17%;
    margin-bottom: auto;
    padding-left: 20px;

    #animatioNameTyping {
        animation: typingAnim 1s infinite 0s linear;
    }
    p {
        font-family: 'Montserrat', sans-serif;
    }
    ul {
        li {
            display: inline;
            padding-right: 1rem;
            a {
                text-decoration: none;
                color: #917164;
            }
        }
    }

    .cards {
        display: flex;
        //position: fixed;
        bottom: 2%;
    }
    .card {
        background: palegreen;
        border-radius: 1rem;
        box-shadow: 4px 4px 12px 2px rgba($color: #000000, $alpha: 0.7);
        padding: 4rem;
    }
}

@keyframes typingAnim {
    0% {
        transform: rotate(0);
        opacity: 1;
    }
    50% {
        transform: rotate(0);
        opacity: 0;
    }
}

//Scroll indicator

$indicator-size: 24px;

@mixin scroll-indicator() {
	$border-color: #998471;
	$border-width: 3px;
	border-radius: 0 0 0 2px;
	
	
	//animation: scroll-indicate 1s linear 0s infinite alternate;
	position: absolute;
	width: $indicator-size;
	height: $indicator-size;
	
	transform: rotate(-45deg);
	
	border-bottom: $border-width solid $border-color;
	border-left: $border-width solid $border-color;
	box-sizing: border-box;
}


@keyframes scroll-indicate {
	0% {
		opacity: 1;	
	}
	
	20% {
		opacity: 0;
	}
	
	40% {
		opacity: 1;
	}
	
	100% {
		opacity: 1;
	}
}


.scrollIndicator {
//	@include scroll-indicator();
	position: absolute;
	width: 100%;
	top: 50%;
	
	&:before {
		@include scroll-indicator();
		content: "";
		top: 0px;
		left: 50%;
		margin-left: -$indicator-size/2;
		
		animation: scroll-indicate 1.5s linear 0s infinite;
	}
	
	&:after {
		@include scroll-indicator();
		content: "";
		top: $indicator-size/2;
		left: 50%;
		margin-left: -$indicator-size/2;
		animation: scroll-indicate 1.5s linear 0.25s infinite;
	}
}