<div class="header" fxLayoutAlign="center">
    <div fxLayout="column">
        <h1 class="name">{{cv.basics.name}}</h1>
        <h2 class="title">{{cv.basics.label}}</h2>
    </div>
</div>
<!--{{basicData.profiles[0].username}}<-->

<div class="body" fxLayoutAlign="center">
    <div fxLayout="column">

        <div class="sections" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="70px">
            <h3 class="sectionsTitles" fxFlex.gt-sm="35%" fxLayoutAlign.lt-md="center">Contact</h3>
            <section fxFlex.gt-sm="40%" fxLayoutAlign.lt-md="center center" fxLayout.lt-md="column">
                <div class="data" id="basicsAndProfiles">
                    <!--style="float: left; padding-right: 7rem;"-->
                    <strong>Email</strong>
                    <div><a rel="noopener" target="_blank" href="{{'mailto:'+cv.basics.email}}">{{cv.basics.email}}</a>
                    </div>
                </div>
                <div class="data" id="basicsAndProfiles">
                    <!--Don't display phone number-->
                    <strong>{{lang.resume.phone}}</strong>
                    <div>
                        <a rel="noopener" target="_blank" href="{{'tel:'+cv.basics.phone}}">{{cv.basics.phone}}</a>
                    </div>
                </div>
                <div class="data" id="basicsAndProfiles">
                    <strong>{{lang.resume.website}}</strong>
                    <div>
                        <a rel="noopener" href="{{cv.basics.website}}"
                            target="_blank">{{cv.basics.website.replace('https://','')}}</a>
                    </div>
                </div>
            </section>
        </div>

        <div class="sections" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="70px">
            <h3 class="sectionsTitles" fxFlex.gt-sm="35%" fxLayoutAlign.lt-md="center">{{lang.resume.about}}</h3>
            <section fxFlex.gt-sm="40%" fxLayoutAlign.lt-md="center center" fxLayout.lt-md="column">
                <p>{{cv.basics.summary}}</p>
            </section>
        </div>

        <div class="sections" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="70px">
            <h3 class="sectionsTitles" fxFlex.gt-sm="35%" fxLayoutAlign.lt-md="center">{{lang.resume.profiles}}</h3>
            <section fxFlex.gt-sm="40%" fxLayoutAlign.lt-md="center center" fxLayout.lt-md="column">
                <div class="data" id="basicsAndProfiles" *ngFor="let profile of cv.basics.profiles">
                    <strong>{{profile.network}}</strong>
                    <div>
                        <a rel="noopener" href="{{profile.url}}" target="_blank">{{profile.username}}</a>
                    </div>
                </div>
            </section>
        </div>

        <div class="sections" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="70px">
            <h3 class="sectionsTitles" fxFlex.gt-sm="35%" fxLayoutAlign.lt-md="center">{{lang.resume.education}}</h3>
            <section fxFlex.gt-sm="40%" fxLayoutAlign.lt-md="center center" fxLayout.lt-md="column">
                <div class="dataCation" *ngFor="let edu of cv.education">
                    <div fxLayout="row" fxLayout.xs="column">
                        <span class="headerAtion" fxFlex="80%">{{edu.institution}}</span>
                        <!--style="float: left;"-->
                        <span class="headerAtion" fxFlex="20%">{{edu.startDate}} - {{edu.endDate}}</span>
                    </div>

                    <div class="secondSectionAtion">
                        <div class="study">
                            <fa-icon [icon]="faGraduationCap"></fa-icon>
                            <span>{{edu.area}}</span>
                        </div>
                        <span class="studyType">{{edu.studyType}}</span>
                    </div>
                    <div *ngIf="edu.thesis">
                        <h4>{{lang.resume.courses}}</h4>
                        <ul>
                            <li>
                                <a routerLink="{{'../../'+edu.thesis.url}}" target="_blank">{{edu.thesis.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>

        <div class="sections" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="70px">
            <h3 class="sectionsTitles" fxFlex.gt-sm="35%" fxLayoutAlign.lt-md="center">Certification</h3>
            <section fxFlex.gt-sm="40%" fxLayoutAlign.lt-md="center center" fxLayout.lt-md="column">
                <div class="dataCation" *ngFor="let cert of cv.certification">
                    <div fxLayout="row" fxLayout.xs="column">
                        <span class="headerAtion" fxFlex="80%">{{cert.institution}}</span>
                        <!--style="float: left;"-->
                        <span class="headerAtion" fxFlex="20%">{{cert.endDate}}</span>
                    </div>
                    <div class="secondSectionAtion">
                        <div class="study">
                            <fa-icon [icon]="faAward"></fa-icon>
                            <span>{{cert.area}}</span>
                        </div>
                        <span class="studyType">{{cert.studyType}}</span>
                    </div>
                </div>
            </section>
        </div>

        <div class="sections" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="70px">
            <h3 class="sectionsTitles" fxFlex.gt-sm="35%" fxLayoutAlign.lt-md="center">Skills</h3>
            <section fxFlex.gt-sm="40%" fxLayoutAlign.lt-md="center center" fxLayout.lt-md="column">
                <div class="dataCation">
                    <div fxLayout="column">
                        <!--<h4>{{lang.resume.development}}</h4>
                        <ul *ngFor="let skl of cv.skills.keywords">
                            <li>{{skl}}</li>
                        </ul>
                        -->
                        <div>
                            <h4 class="sectionSkills">{{lang.resume.experienceWith}}:</h4>
                            <span> {{ cv.skills.experiencedWith }}</span>
                        </div>
                        <div>
                            <h4 class="sectionSkills">{{lang.resume.familiarWith}}:</h4>
                            <span> {{ cv.skills.familiarWith }}</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="sections" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="70px">
            <h3 class="sectionsTitles" fxFlex.gt-sm="35%" fxLayoutAlign.lt-md="center">{{lang.resume.languages}}</h3>
            <section fxFlex.gt-sm="40%" fxLayoutAlign.lt-md="center center" fxLayout.lt-md="column">
                <div class="data" id="basicsAndProfiles" *ngFor="let lan of cv.languages">
                    <strong>{{lan.language}}</strong>
                    <div>{{lan.fluency}}</div>
                </div>
            </section>
        </div>

        <div class="sections" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="70px">
            <h3 class="sectionsTitles" fxFlex.gt-sm="35%" fxLayoutAlign.lt-md="center">Interests</h3>
            <section fxFlex.gt-sm="40%" fxLayoutAlign.lt-md="center center" fxLayout.lt-md="column">
                <div class="data" id="basicsAndProfiles" *ngFor="let int of cv.interests">
                    <div>{{int.name}}</div>
                </div>
            </section>
        </div>

    </div>
</div>
<br>
<br>
<br>
<br>


<!-- Download resume either french version or english version -->
<a download="Amellouk, Amine - CV" href="../../../assets/pdf/Amellouk, Amine - CV.pdf" matTooltip="Download" class="download">
    <fa-icon [icon]="faFileDownload" size="2x"></fa-icon>
</a>