:host {
    font-family: 'Lato', sans-serif;
    background-color: #FFFFFF;
    //Display is block to allow the background color to work with :host
    display: block;
    z-index: 1000;
    .header {
        background-color: #F4F6F6;
        margin-bottom: 30px;
        padding: 50px 0;
        div {
            .name {
                color: #333333;
            }
            .title {
                color: #95A5A6;
            }
        }
    }
    .body {
        //padding-top: 40px;
        div {
            .sections {
                margin-top: 30px;
                .sectionsTitles {
                    text-align: right;
                    color: #f1c40f;
                    font-size: 26px;
                    font-weight: 500;
                    line-height: 1.1;
                }
                section {
                    .data {
                        margin-bottom: 10px;                         
                        strong {
                            font-weight: 700;
                        }
                        div {
                            a {
                                text-decoration: none;
                                color: #2ecc71;
                            }
                        }
                    }
                    #basicsAndProfiles {
                        float: left;
                        width: 200px;
                    }
                    #basicsAndProfiles:nth-child(3) {
                        clear: both;
                    }
                    .dataCation {
                        //margin-bottom: 10px;
                        margin-bottom: 30px;
                        line-height: 1.428571;
                        div {
                            margin-top: 7px;
                            .headerAtion:nth-child(1) {
                                //color: #000;
                                font-weight: 700;
                                font-size: 18px;
                                line-height: 1.1;
                            }
                            .headerAtion:nth-child(2) {
                                text-align: right;
                                font-weight: 500;
                                font-size: 14px;
                            }
                            @media (max-width: 480px) {
                                .headerAtion:nth-child(2) {
                                    text-align: left;
                                }
                            }
                            h4 {
                                //font-weight: 500;
                                line-height: 1.1;
                                font-size: 18px;
                                display: inline-block;
                            }
                            .sectionSkills {
                                margin: 0 0 0px;
                            }
                            ul {
                                //list-style-type: circle;
                                list-style: none; /* Remove default bullets */
                                li {
                                    a {
                                        text-decoration: none;
                                        color: #2ecc71;
                                    }
                                }
                            }
                            ul li::before {
                                content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                                color: #EBEBEB; /* Change the color */
                                font-weight: bold; /* If you want it to be bold */
                                display: inline-block; /* Needed to add space between the bullet and the text */
                                width: 1em; /* Also needed for space (tweak if needed) */
                                margin-left: -1em; /* Also needed for space (tweak if needed) */
                            }
                        }
                        .secondSectionAtion {
                            margin-top: 10px;
                            div {
                                span {
                                    margin-left: 6px;
                                    font-size: 14px;
                                    font-weight: 700;
                                }
                            }
                            .studyType {
                                margin-left: 25px;
                                font-size: 14px;
                            }
                        }
                        .work {
                            margin-top: 10px;
                            div {
                                span {
                                    font-size: 14px;
                                    font-weight: 700;
                                }
                            }
                            a {
                                text-decoration: none;
                                color: #2ecc71;
                            }
                        }
                    }
                }
            }
        }
    }
    a.download {
        position: fixed;
        right: 3%;
        bottom: 3%;
        //make this button with position fixed overlap the header which is also position fixed
        z-index: 4;
        text-decoration: none;
        color: var(--text-secondary-color);
    }
}