<div class="page">
    <div class="header" fxLayoutAlign="center">
        <div fxLayout="column" fxFlex="20%">
            <h1 class="name">{{basicData.name}}</h1>
            <h2 class="title">{{basicData.label}}</h2>
        </div>
    </div>
    <!--{{basicData.profiles[0].username}}<-->

    <div class="body" fxLayoutAlign="center">
        <div fxLayout="column">
    
            <div class="sections" fxLayout="row" fxLayoutGap="70px">
                <h3 class="sectionsTitles" fxFlex="35%">Contact</h3>
                <section fxFlex="40%" >
                    <div class="data" id="basicsAndProfiles">
                        <!--style="float: left; padding-right: 7rem;"-->
                        <strong>Email</strong>
                        <div>{{basicData.email}}</div>
                    </div>
                    <div class="data" id="basicsAndProfiles">
                        <!--Don't display phone number-->
                        <strong>Phone</strong>
                        <div>{{basicData.phone}}</div>
                    </div>
                    <div class="data" id="basicsAndProfiles">
                        <strong>Website</strong>
                        <div>
                            <a rel="noopener" href="aaml.netlify.com" target="_blank">{{basicData.website}}</a>
                        </div>
                    </div>
                </section>
            </div>
        
            <div class="sections" fxLayout="row" fxLayoutGap="70px">
                <h3 class="sectionsTitles" fxFlex="35%">About</h3>
                <section fxFlex="40%">
                    <p>{{basicData.summary}}</p>
                </section>
            </div>

            <div class="sections" fxLayout="row" fxLayoutGap="70px">
                <h3 class="sectionsTitles" fxFlex="35%">Profiles</h3>
                <section fxFlex="40%" >
                    <div class="data" id="basicsAndProfiles" *ngFor="let profile of basicData.profiles">
                        <strong>{{profile.network}}</strong>
                        <div>
                            <a rel="noopener" href="{{profile.url}}" target="_blank">{{profile.username}}</a>
                        </div>
                    </div>
                </section>
            </div>

            <div class="sections" fxLayout="row" fxLayoutGap="70px">
                <h3 class="sectionsTitles" fxFlex="35%">Education</h3>
                <section fxFlex="40%" >
                    <div class="dataCation" *ngFor="let edu of education">
                        <div fxLayout="row" fxLayout.xs="column">
                            <span class="headerAtion" fxFlex="80%">{{edu.institution}}</span>
                            <!--style="float: left;"-->
                            <span class="headerAtion" fxFlex="20%">{{edu.endDate}}</span>
                        </div>
                        
                        <div class="secondSectionAtion">
                            <div class="study">
                                <fa-icon [icon]="faGraduationCap"></fa-icon>
                                <span>{{edu.area}}</span>
                            </div>
                            <span class="studyType">{{edu.studyType}}</span>
                        </div>
                        <div *ngIf="edu.thesis">
                            <h4>Courses</h4>
                            <ul>
                                <li>{{edu.thesis}}</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>

            <div class="sections" fxLayout="row" fxLayoutGap="70px">
                <h3 class="sectionsTitles" fxFlex="35%">Certification</h3>
                <section fxFlex="40%" >
                    <div class="dataCation" *ngFor="let cert of certification">
                        <div fxLayout="row" fxLayout.xs="column">
                            <span class="headerAtion" fxFlex="80%">{{cert.institution}}</span>
                            <!--style="float: left;"-->
                            <span class="headerAtion" fxFlex="20%">{{cert.endDate}}</span>
                        </div>
                        <div class="secondSectionAtion">
                            <div class="study">
                                <span>{{cert.area}}</span>
                            </div>
                            <span class="studyType">{{cert.studyType}}</span>
                        </div>
                    </div>
                </section>
            </div>

            <div class="sections" fxLayout="row" fxLayoutGap="70px">
                <h3 class="sectionsTitles" fxFlex="35%">Skills</h3>
                <section fxFlex="40%" >
                    <div class="dataCation">
                        <div>
                            <h4>Development</h4>
                            <ul *ngFor="let skl of skills[0].keywords">
                                <li>{{skl}}</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>

            <div class="sections" fxLayout="row" fxLayoutGap="70px">
                <h3 class="sectionsTitles" fxFlex="35%">Languages</h3>
                <section fxFlex="40%">
                    <div class="data" id="basicsAndProfiles" *ngFor="let lan of languages">
                        <strong>{{lan.language}}</strong>
                        <div>{{lan.fluency}}</div>
                    </div>
                </section>
            </div>

            <!--
            <div class="sections" fxLayout="row" fxLayoutGap="70px">
                <h3 class="sectionsTitles" fxFlex="35%">Interests</h3>
                <section fxFlex="40%">
                    <div class="data" id="basicsAndProfiles" *ngFor="let int of interests">
                        <div>{{int.name}}</div>
                    </div>
                </section>
            </div>-->

        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>