:host {
    mat-dialog {
        padding: 0;
        background-color: transparent !important;
    }
    .mat-dialog-container {
        background-color: transparent !important;
        box-shadow: transparent !important;
        border: transparent !important;

    }
    mat-dialog-title {
        width: 100%;
        position: relative;
    }
    .close {
        position: absolute;
        right: 11%;
        top: 10%;
        width: 32px;
        height: 32px;
        opacity: 0.3;
        cursor: pointer;
        background-color: gainsboro;
        border: 0;
        border-radius: 50%;
    }
    .close:hover {
        opacity: 1;
    }
    .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }
    .close:before {
        transform: rotate(45deg);
    }
    .close:after {
        transform: rotate(-45deg);
    }
    .wrapper {
        position: relative;
        overflow: hidden;
        .video {
            width: 100%;
            object-fit: fill;
        }
    }
    app-seleton-loader {
        position: absolute;
        top: 50%;
        right: 50%;
    }
}