div {

    padding-left: 40px;
    padding-right: 40px;
    p {
        color: #917164;
    }
    div {
      margin-bottom: 100px;
      p {
        color: #D8D2D2;
      }
      div {
        cursor: pointer;
        margin-bottom: 5%;
        h1 {
          color: #D8D2D2;
        }
        ul {
          list-style-type: none;
          color: whitesmoke;
          margin:0;
          margin-bottom: 5px;
          padding:0;
          li {
            display: inline;
          }
        }
        p {
          color: #A4A4A4;
        }
        img {
          width: 100%;
        }
        button {
          background-color: whitesmoke;
          margin-left: 10px;
        }
      }

      //.mat-card {
        //cursor: pointer;
      //}
      //.mat-card:hover {
        //transform: scale(1.1);
        //z-index: 10;
      //}
    }
    .mcc {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1px;
        }
      }
    }
}
/*
      a {
        text-decoration: none;
      }
      span {
        color: #917164;
        border-style: groove ;
        border-color: #917164;
      }
    }
    div #technologies {
      //background-color: gray;
      img {
        display: block;
        margin: 0 auto;
      }
      */