div {
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    span {
      color: #BEBAB9; 
      margin-left: 8%;
    }
    div {
      margin-top:0; 
      margin-bottom: 0; 
      padding-top: 0;
      padding-bottom: 0;
      opacity: 0.9;
      margin-top: 0; 
      margin-bottom: 0; 
      padding-top: 0;
      padding-bottom: 0;
      div {
        margin-bottom: 0%;
        div {
          cursor: pointer;
          margin-bottom: 5%;
          h1 {
            color: #D8D2D2;
            text-decoration: underline;
          }
          ul {
            list-style-type: none;
            color: whitesmoke;
            margin:0;
            margin-bottom: 5px;
            padding:0;
            li {
              display: inline;
            }
          }
          p {
            color: #A4A4A4;
          }
          button {
            background-color: whitesmoke;
            margin-left: 10px;
          }
        }
        #projectOnHoverEffect:hover {
          opacity: 1;
          filter: brightness(200%);
        }
        img {
          width: 100%;
          object-fit: contain;
          height: 300px;
          position: fixed;
          top: 25%;
          left: 25%;
        }
      }
    }
}