div {

    padding-left: 40px;
    padding-right: 40px;
    p {
        color: #917164;
    }
    div {
      margin-bottom: 100px;
      p {
        color: #D8D2D2;
      }
      div {
        cursor: pointer;
        margin-bottom: 5%;
        h1 {
          color: #D8D2D2;
        }
        ul {
          list-style-type: none;
          color: whitesmoke;
          margin:0;
          margin-bottom: 5px;
          padding:0;
          li {
            display: inline;
          }
        }
        p {
          color: #A4A4A4;
        }
        img {
          width: 100%;
          object-fit: contain;
          height: 300px;
          
        }
        button {
          background-color: whitesmoke;
          margin-left: 10px;
        }
      }

    }
}