<mat-dialog-content>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex="50%">
            <img src="assets/imgs/projects-gifs/LocaIT.gif">
        </div>
        <div fxFlex="50%">
            <button class="floatRight" mat-button [mat-dialog-close]="true">X</button>

            <p class="mat-headline">PROJECT</p>
            <p class="mat-display-1" id="ProjectName">LocaIT</p>
            <div class="mat-subheading-2" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
                fxLayoutGap="0.5%" fxLayoutAlign="left">
                <span>HTML</span>
                <span>CSS</span>
                <span>Bootstap</span>
            </div>
            <br>
            <p class="mat-headline">ABOUT</p>
            <br>
            <p class="mat-body-1">For this project I worked with a collegue to make a rental car landing page website
            </p>
            <br>
            <!-- Code is unavaillabe because private, and Demo is unavaillabe because it's a desktop app-->
            <button mat-button>
                <a href="https://locait.netlify.com/" target="_blank" style="text-decoration: none;"><fa-icon [icon]="faEye"></fa-icon> Demo</a>
            </button>
            <button mat-button>
                <a href="https://github.com/AmineAML/LocaIT" target="_blank"><fa-icon [icon]="faCode"></fa-icon> Code </a>
            </button>
        </div>
    </div>
</mat-dialog-content>