<div class="container-section">
    <div>
        <span class="mat-display-1 title">{{lang.welcome.projects.title}}</span>
        <br>
        <!-- <span class="mat-subheading-2">{{lang.welcome.projects.instructions1stPart}} {{isTouch}}
            {{lang.welcome.projects.instructions2ndPart}}</span> -->
    </div>
    <!-- <div class="wrapper" data-aos="fade-up-right"> -->
    <div class="wrapper">
        <div *ngFor="let project of projects" id="projectOnHoverEffect">
            <div class="projecto">
                <h2>{{project.name}}</h2>
                <img src="{{project.thumbnail_picture}}" alt="" srcset="" style="max-width: 100%;">
                <ul *ngIf='project.technologies'>
                    <li *ngFor="let listOfTechnologies of project.technologies; let lastItem=last;">
                        {{listOfTechnologies.t}} <span *ngIf="!lastItem"> | </span></li>
                </ul>
                <div>
                    <p class="mat-body-1">{{project.description}}</p>
                    <br />
                    <div>
                        <a *ngIf="project.codeLink" href="{{project.codeLink}}" target="_blank" rel="noopener">
                            <fa-icon [icon]="faGithub"></fa-icon> Code
                        </a>
                        <a *ngIf="project.demoLink" href="{{project.demoLink}}" target="_blank" rel="noopener">
                            <fa-icon [icon]="faEye"></fa-icon> {{lang.welcome.projects.previewButton}}
                        </a>
                        <a *ngIf="project.img" (toggleCmd)="toggleCmd($event)" (click)="openDialog(project.img)"
                            style="cursor: pointer;" target="_blank" rel="noopener">
                            <fa-icon [icon]="faPlayCircle"></fa-icon> Video
                        </a>
                    </div>
                </div>
            </div>
            <div class="videoContainer" *ngIf="project.img">
            </div>
        </div>
    </div>
</div>
<button *ngIf="dialogOpened" style="position: absolute; top: 0%; left: 2%;">X</button>

<br />