div {
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    /*
    span {
      color: #BEBAB9; 
      //margin-left: 8%;
    }*/
    div {
      margin-top:0; 
      margin-bottom: 0; 
      padding-top: 0;
      padding-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      opacity: 0.9;
      div {
        margin-bottom: 0%;
        span {
          color: var(--text-content-color);
        }
        div {
          cursor: pointer;
          margin-bottom: 5%;
          button {
            float: left;
            min-width: 150px;
            max-width: 250px;
            display: block;
            margin: 1em;
            padding: 1em 2em;
            border: none;
            background: none;
            color: inherit;
            vertical-align: middle;
            position: relative;
            z-index: 1
          }
          button.active {
            color: orange;
          }
          span.title {
            //color: #D8D2D2; //not applied
            color: var(--text-tertiary-color); //not applied
            cursor: initial;
            //font-size: 4vw;
            line-height: 1.6;
          }
          h1 {
            //color: #D8D2D2;
            color: var(--text-tertiary-color);
            text-decoration: underline;
          }
          ul {
            list-style-type: none;
            //color: whitesmoke;
            color: var(--text-accent-color);
            margin:0;
            margin-bottom: 5px;
            padding:0;
            li {
              display: inline;
              span {
                //color: whitesmoke;
                color: var(--text-accent-color);
              }
            }
          }
          p {
            //color: #A4A4A4;
            color: var(--text-description-color);
          }
          button {
            //background-color: whitesmoke;
            color: var(--text-accent-color);
            margin-left: 10px;
          }
        }
        #projectOnHoverEffect:hover {
          opacity: 1;
          filter: brightness(200%);
        }
        img, video {
          //width: 100%;
          object-fit: contain;
          //height: 300px;
          position: fixed;
          //top: 25%;
          //left: 25%;
          //width: 50%;
          height: 50%;
          top: 25%;
          right: 2%;
          z-index: 10;
        }
        @media (min-width: 320px) and (max-width: 767px) {
          img, video {
            width: 45vh;
          }
        }
        app-seleton-loader {
          object-fit: contain;
          position: fixed;
          top: 50%;
          right: 25%;
        }
      }
      //Note that nth-child works with binary meaning it doesn't start with 123 rather it does start with 0123
      div:nth-child(1) {
        button {
          background-color: var(--text-secondary-color);
          color: var(--text-button-color);
        }
      }
      .videoContainer {
        z-index: 7;
      }
    }
}