<div fxLayout="column" >
    <div class="container" fxLayout="row" fxLayout.xs="column" >
        <div>
            <span class="mat-display-1 title" >{{lang.welcome.projects.title}}</span>
        </div>
    </div>

    <div class="container" fxLayout="row" fxLayout.xs="column" >
        <div  fxLayoutAlign="center" fxLayoutGap="2rem">
                <span class="mat-subheading-2">{{lang.welcome.projects.instructions1stPart}} {{isTouch}} {{lang.welcome.projects.instructions2ndPart}}</span>
                <!--<button [class.active]="filterBy==='all'" (click)="filter('all')" mat-raised-button>All</button>
                <button [class.active]="filterBy==='C#'" (click)="filter('C#')" mat-raised-button>C#</button>
                -->
        </div>
    </div>

    <div class="container" id="secondiv" fxLayout="row" fxLayout.xs="column"
        *ngFor="let project of projects" data-aos="fade-up-right"> 
        <div fxFlex="50%">
            <div id="projectOnHoverEffect" (mouseenter)="project.displayImg=true"
                (mouseleave)="project.displayImg=false" (click)="project.displayImg=true">
                <h1>{{project.name}}</h1>
                <ul *ngIf='project.technologies'>
                    <li *ngFor="let listOfTechnologies of project.technologies; let lastItem=last;">{{listOfTechnologies.t}} <span *ngIf="!lastItem"> | </span></li>
                </ul>
                <p>{{project.description}}</p>
                <!--
                <button mat-button>
                    <a href="{{project.demoLink}}" target="_blank" style="text-decoration: none;"><fa-icon [icon]="faEye"></fa-icon> Demo</a>
                </button>
                <button mat-button>
                    <a href="{{project.codeLink}}" target="_blank" style="text-decoration: none;"><fa-icon [icon]="faCode"></fa-icon> Code </a>
                </button>
                -->
            </div>
        </div>
        <div class="videoContainer">
            <video *ngIf="project.displayImg" [@slideInOut] loop muted autoplay playsinline (suspend)="videoLoadinganimation()" (canplay)="videoLoaded()" oncanplay="this.play()" onloadedmetadata="this.muted=true">
                <source [src]="project.img" type="video/mp4">
            </video>
            <app-seleton-loader *ngIf="project.displayImg && !loaded"></app-seleton-loader>
        </div>
    </div>
</div>

<br />