<div fxLayout fxFill fxLayoutAlign="space-around center">

    <div class="otherDevices">
        <p class="otherDevicesP">
            <!-- <span>{{typewriter_display | slice:0:highlightStart}}</span>
            <span id="lastNameColor">{{typewriter_display | slice:highlightStart:highlightStart+highlightLength}}</span>
            <span>{{typewriter_display | slice:highlightStart+highlightLength:typewriter_display.length}}</span> -->

            <!-- <span class="NameTyping" id="animatioNameTyping" *ngIf="typingSign">|</span> -->

            <span>{{lang.welcome.home.name}}</span>
        </p>

        <div id="title">
            <!-- <h1>{{typewriter_display2}}</h1>
            <span class="TitleTyping" id="animatioNameTyping" *ngIf="typingSign2">|</span> -->
            <h1>{{lang.welcome.home.title}}</h1>
        </div>

        <div id="slogan">
            <span>{{lang.welcome.home.slogan}}</span>
        </div>

        <div>
            <button mat-button (click)="goTo('projects')">{{lang.welcome.home.viewProjects}}</button>
            <button mat-button routerLink="./resume">{{lang.welcome.home.resume}}</button>
        </div>

        <!--<ul *ngIf="HideShow" [@slideInOut]>
            <li *ngIf="isShow" [@slideOutIn]>
            -->
                <!--routerLink="/resume"-->
                <!--<a routerLink="./resume" matTooltip={{lang.welcome.home.resume}}>
                    <fa-icon [icon]="faFileAlt" size="2x"></fa-icon>
                </a>
            </li>
            <li *ngIf="isShow && g" [@slideOutInG]>
                <a rel="noopener" href="https://github.com/AmineAML" target="_blank" matTooltip="GitHub">
                    <fa-icon [icon]="faGithub" size="2x"></fa-icon>
                </a>
            </li>
            <li *ngIf="isShow && l" [@slideOutInL]>
                <a rel="noopener" href="https://www.linkedin.com/in/amine-amellouk" target="_blank" matTooltip="LinkedIn">
                    <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
                </a>
            </li>
            <li *ngIf="isShow && s" [@slideOutInS]>
                <a rel="noopener" href="https://stackoverflow.com/users/10453610/amineze" target="_blank" matTooltip="Stack Overflow">
                    <fa-icon [icon]="faStackOverflow" size="2x"></fa-icon>
                </a>
            </li>
        </ul>
        -->

    </div>

</div>

<!-- <div class="buttonDisplayOnMobile" *ngIf="HideShow" [@slideInOut] fxHide fxShow.lt-md>
    <button mat-button (click)="goTo('projects')">Portfolio</button>
    <button mat-button (click)="goTo('contact')">Contact me</button>
</div> -->

<div class="scrollIndicator" *ngIf="HideShow" [@slideInOut]></div>

<!-- <div class="lottiefiles">
    <ng-lottie [options]="options" [styles]="styles"></ng-lottie>
</div> -->