<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" fxFlexFill>

    <div fxFlex="40%" data-aos="fade-right" fxLayoutAlign="center">
        <span class="mat-display-1">{{lang.welcome.contact.titleAndButtonText}}</span>
    </div>

    <div fxFlex="50%" data-aos="fade-right" data-aos-delay="300">
        <form [formGroup]="contactForm" name="contact" id='contact-form' method="post" (ngSubmit)="onSubmit()" class="example-form">
            <input type="hidden" name="form-name" value="contact"/>
            <p>
                <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
            </p>
            <mat-form-field class="example-full-width" >
                <mat-label>{{lang.welcome.contact.name}}</mat-label>
                <input matInput type="text" name="name" formControlName="name" [required]="isRequired ? 'required' : null">
                <mat-error *ngIf="nameFormControl.hasError('required') && submitFormPressedNotifyErrors">Please enter your name</mat-error>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="emailFormControl" type="email" name="email" formControlName="email" [required]="isRequired ? 'required' : null">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl2.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="!emailFormControl.hasError('email') && emailFormControl.hasError('required') && submitFormPressedNotifyErrors">
                    Please enter your email address
                </mat-error>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Message</mat-label>
                <textarea matInput #message cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10" id="message" name="message" formControlName="message" [required]="isRequired ? 'required' : null"></textarea>
                <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
                <mat-error *ngIf="messageFormControl.hasError('required') && submitFormPressedNotifyErrors">"Hi" is a good conversation starter</mat-error>
            </mat-form-field>
            <br>

            <button mat-button type="submit">{{lang.welcome.contact.titleAndButtonText}}</button>
            
            <!--<a rel="noopener" href="https://www.linkedin.com/in/amine-amellouk" target="_blank" matTooltip="LinkedIn">
                <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
            </a>
            -->
            <a rel="noopener" href="mailto:mail@amineamellouk.com" target="_blank" matTooltip="Mail" aria-label="mailto:mail@amineamellouk.com">
                <fa-icon [icon]="faEnvelope" size="2x"></fa-icon>
            </a>
        </form>
        
    </div>

</div>
<!--

-->