div {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 15px;
    font-family: 'futura-lt-w01-light', sans-serif;
    div:nth-child(1) {
        //padding-bottom: 0;
        //margin-bottom: 0;
        //padding-left: 0;
        span {
            //color: #D8D2D2;
            color: var(--text-tertiary-color);
            margin-bottom: 0;
        }
    }
    div {
        .example-form {
            min-width: 150px;
            max-width: 500px;
            width: 100%;
            p {
                display: none;
            }
            .example-full-width {
                width: 100%;
                mat-hint {
                    //color: #D8D2D2;
                    color: var(--text-tertiary-color);
                }
                mat-label {
                    font-family: 'futura-lt-w01-light', sans-serif;
                }
            }
            button {
                //background-color: #a33327;
                background-color: var(--chat-icon-color);
                //color: whitesmoke;
                color: var(--text-button-color);
            }
            a {
                float: right;
                //color: #D8D2D2;
                //color: var(--text-tertiary-color);
                margin-left: 10px;
                color: var(--chat-icon-color);
            }
        }
    }
}
.mat-input-element {
    //color: whitesmoke;
    color: var(--text-tertiary-color);
}