mat-dialog-content {
    color: #949593;
    .floatRight {
        float: right;
        background-color: transparent;
    }
    span {
        border-style: groove ;
        border-color: #747070;
        font-style: bold;
        margin-left: 10px;
    }
    button {
        background-color: whitesmoke;
        margin-left: 10px;
    }
}
#ProjectName {
    color: #ffffff;
}

img {
    height: 100%;
    width: 100%;
}