$text-primary-color: #49515A;//#3F3F44;
$text-primary-color-dark: #AD8174;

$text-secondary-color: #49515A;//#FB7813;
$text-secondary-color-dark: #AD8174;//#A33327;

$text-title-color: #778492;//#F79227;
$text-title-color-dark: #C7493A;//#917164;

$scroll-indicator-color: #FFC38B;
$scroll-indicator-color-dark: #998471;

$background-secondary-color: #FF926B;
$background-secondary-color-dark: #917164;//#C7493A;

$text-tertiary-color: #020202;
$text-tertiary-color-dark: #D8D2D2;

$text-content-color: #000000;//#6A6A6A;
$text-content-color-dark: #BEBAB9;

$text-accent-color: #2ecc71;//#34A9AB;//#FFB01E;
$text-accent-color-dark: #FFFAF0;

$text-description-color: #000000;//#463d3d;
$text-description-color-dark: #A4A4A4;

$background-primay-color: #F5F5F5;//#F8F5EF;//#FFFFFF;
$background-primay-color-dark: #262626;

$video-loading-animation: #FFF3CD;
$video-loading-animation-dark: #A5A5AD;

$text-button-color: #FFFFFF;
$text-button-color-dark: #FFFAF0;

$chat-icon-color: #FB7813;
$chat-icon-color-dark: #917164;

$colors: (
    --text-primary-color: ($text-primary-color, $text-primary-color-dark),
    --text-secondary-color: ($text-secondary-color, $text-secondary-color-dark),
    --text-title-color: ($text-title-color, $text-title-color-dark),
    --scroll-indicator-color: ($scroll-indicator-color, $scroll-indicator-color-dark),
    --background-secondary-color: ($background-secondary-color, $background-secondary-color-dark),
    --text-tertiary-color: ($text-tertiary-color, $text-tertiary-color-dark),
    --text-content-color: ($text-content-color, $text-content-color-dark),
    --text-accent-color: ($text-accent-color, $text-accent-color-dark),
    --text-description-color: ($text-description-color, $text-description-color-dark),
    --background-primay-color: ($background-primay-color, $background-primay-color-dark),
    --video-loading-animation: ($video-loading-animation, $video-loading-animation-dark),
    --text-button-color: ($text-button-color, $text-button-color-dark),
    --chat-icon-color: ($chat-icon-color, $chat-icon-color-dark)
);